<div class="payment-gateway">
  <% param_prefix = "payment_source[#{payment_method.id}]" %>

  <div class="payment-gateway-fields">
    <div class="mb-4 payment-gateway-field checkout-content-inner-field">
      <%= text_field_tag "#{param_prefix}[po_number]", '', id: 'po_number', class: 'spree-flat-input', placeholder: Spree.t(:po_number) %>
    </div>

    <div class="payment-gateway-field checkout-content-inner-field">
      <%= text_field_tag "#{param_prefix}[organization_name]", '', id: 'organization_name', class: 'spree-flat-input', placeholder: Spree.t(:organization_name) %>
    </div>
  </div>
</div>
